.example {
  margin: 1em 0;
  border: 2px solid #861F41;
  border-left: 10px solid  #E5751F; 
  border-radius: 10px;
}

.example-header {
    margin-left: 0em;
  padding-left:  10px;
  padding-top:  5px;
  padding-bottom: 5px;
  color: black;
  background-color: #E5E1E6;
  border-top-right-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.example-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}
