/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Computer Modern" !default;

// colors
$vt-maroon: #861F41;
$vt-orange: #E5751F;
$hokie-stone: #75787b;
$white: #FFFFFF;
$blackboard: #000000;

$pylon-purple: #642667;
$boundless-pink: #CE0058;
$yellow: #F7EA48;
$teal: #508590;
$turquoise: #2CD5C4;
$grey: #D7D2CB;
$smoke: #E5E1E6;
$impact-orange: #CA4F00;


// colors
$body-bg: $white !default;

/*-- scss:rules --*/

.example {
  margin: 1em 0;
  border: 2px solid $vt-maroon;
  border-left: 10px solid $vt-orange; 
  border-radius: 10px;
}

.example-header {
  margin-left: 0em;
  padding-left:  10px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: $vt-maroon;
  border-top-right-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.example-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}
